    .first{
                background : url(../img/groo.jpg) no-repeat center fixed; 
                background-size : cover;
                min-width: 100%;
	    	min-height:100%;
           }

            .navbar-inverse{
                border-radius: 0;
                border: 0;
                padding-bottom: 0px;
                margin-bottom: 0px;
		overflow-x: hidden;
            }
            
            .navbar-inverse .navbar-header #demo{
                padding-top: 15px;
                padding-left: 15px;
                color:white;
		}
           @media screen and (max-width:450px){
		#typing{
                color: rgb(0, 0, 0); 
                font-family: "Courier";
                width:18em;
                font-size: 2.5vh;
                padding: 20px 0 0 0;
		margin-left:auto;
		margin-right:auto;
                white-space: nowrap;
                overflow: hidden;
                animation: type 4s steps(60, end);
            }
            #typing:nth-child(2){
                animation: type2 6s steps(60, end);
                padding: 0 0 0 0;
            }
	}   
        @media screen and (min-width: 450px){
		#typing{
                color: rgb(0, 0, 0); 
                font-family: "Courier";
                width: 18em;
                font-size: 3.5vh;
                margin-left: auto;
                margin-right: auto;
                padding: 150px 0 0 0;
                white-space: nowrap;
                overflow: hidden;
                animation: type 4s steps(60, end);
            }
                #typing:nth-child(2){
                animation: type2 6s steps(60, end);
                padding: 0 0 0 0;
            }
          }   
            @keyframes type{ 
                from { width: 0; } 
              } 
              @keyframes type2{
                0%{width: 0;}
                50%{width: 0;}
                100%{ width: 100; } 
              } 
            #blink{
                animation: blink 1s infinite;
            }  
            @keyframes blink{
                to{opacity: .0;}
              }
            #imgidid{
                width:275px;
                height:400px; 
                margin-left: auto;
                margin-right: auto;
                margin-top:100px;
		margin-bottom:auto;    
            }   
