
#third{
    background: url("Untitled2.png") no-repeat center fixed;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}
#fonth{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:210px ;
}
#fontp{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#idimg2{
    width: 200px;
    height:55px;
    margin-left: auto;
   margin-right: auto;
   margin-bottom: 100px;

}
#idimg3{
    width: 275px;
    height:300px;
    margin-top: 160px;
   margin-left: auto;
   margin-right: auto;
    margin-bottom: 100px;
}
.navbar-inverse{
border-radius: 0;
border: 0;
padding-bottom: 0px;
margin-bottom: 0px;
}
